.newtagdiv
{
  display:none; 
  position:absolute; 
  z-index:1000; 
  left:35%;
  top:25%; 
  width:300px; 
  height:200px;
  background:#fff;
  border: 1px solid #ccc;
  border-radius: 6px;        
}
.sp
{
  position:relative;
  left:100px;
  top:30px;
}
.in
{
  width:250px;
  height:60px;
  position:relative;
  left:25px;
  top:40px;
}
.sure
{
  width:55px;
  height:35px;
  position:relative;
  left:150px;
  top:50px;
  
}
.cancel
{
  width:55px;
  height:35px;
  position:relative;
  left:30px;
  top:50px;        
}

/*
.add_sure
{
  position:relative;
  left:378px;
  width:54px;
  height:33px;
  font-size:16px;
  padding:0;
  font:25px bolder;
  text-align:center;

}

#tag
{
  position:relative;
  left:230px;
  width:780px;
  border: 1px solid #ccc;
  border-radius: 6px;
  
}
*/
