.score_cell {
	min-width: 4.2em;
	border-right: none;
    vertical-align: middle;
}

.score_correct {
    background:#60e760;
    text-align: center;
}

.score_incorrect {
    background:#e87272;
    text-align: center;
}

.score_pending {
    background: #6666FF;
    text-align: center;
}